/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #409EFF;
$--color-success: #67C23A;
$--color-warning: #E6A23C;
$--color-danger: #F56C6C;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #EBEEF5;
$--border-color-lighter: #F2F6FC;

$--table-border: 1px solid #EBEEF5;

/* Table
-------------------------- */
$--table-header-background-color: #F5F7FA;
$--table-row-hover-background-color: #F5F7FA;
$--table-current-row-background-color: #F5F7FA;
$--table-header-height: 50px;
$--table-row-height: 50px;
$--table-border-color: #EBEEF5;
$--table-text-color: #606266;
$--table-header-text-color: #606266;
$--table-header-font-weight: 500;
$--table-cell-padding: 12px 0;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}
